doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
h1 Team #{teamNumber}: #{nickname}
		hr
h4
	a(href='#{website}')
		| #{website}
	br
	br
	| #{location}
	br
	br
	| #{name}
	br
	br
	| Can pick up: 
	ul
		each ability in abilities
			li(style='padding:5px')= ability
	br
	| Other: #{other}
	br
	br
	| Picture:
	br
	img(src='data:#{imageType};base64,#{imageData}')